<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression TestSuite">
	<test name="LeadsBaskets Test">
		<groups>
			<run>
				<include name="buyer statistic" />
				<include name="BuyerReg" />
				<include name="Seller Statistic" />

			</run>
		</groups>
		<classes>
			<class name="com.affilomnia.leadbaskets.SellerTest"></class>
		</classes>
	</test>
</suite>


