<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression TestSuite">
	<test name="LeadsBaskets Test">
		<groups>
			<run>
				<include name="create Lead" />
				<include name="buyer statistic" />
				<include name="Seller Statistic" />
				<include name="BuyerReg" />


			</run>
		</groups>
		<classes>
			<class name="com.affilomnia.leadbaskets.FormLbTest"></class>
			<class name="com.affilomnia.leadbaskets.BuyerTest"></class>
			<class name="com.affilomnia.leadbaskets.SellerTest"></class>
			
		</classes>
	</test>
</suite>


